/* This file adds the requisite utility classes for Tailwind to work. */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
}

.serif {
    font-family: "EB Garamond", serif;
}